@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div>
    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->
    <!-- ============================ Page Title Start================================== -->
    <div class="page-title" style="background:#f4f4f4 url(https://images.unsplash.com/photo-1565402170291-8491f14678db?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2017&q=80);" data-overlay="5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="breadcrumbs-wrap text-center">
                        <h2 class="breadcrumb-title uppercase">Giới thiệu SGO Land</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================ Page Title End ================================== -->

    <!-- ============================ About ================================== -->
    <section class="about-01" id="about-01">
        <div class="container">
            <!-- row Start -->
            <div class="row align-items-center"> 
                <div class="col-lg-6 col-md-12 col-12 wow animate__fadeInLeft" data-wow-delay="0.5s">
                    <div class="story-wrap explore-content">
                        <h2><span class="text-primary2">Xin chào,</span><br>Chúng tôi là ai?</h2>
                        <p>Công ty Cổ phần Đầu tư và Kinh doanh Bất động sản SGO (SGO LAND) là doanh nghiệp chuyên kinh doanh phát triển, phân phối, cho thuê các sản phẩm bất động sản trong nước, quốc tế; quản lý vận hành, khai thác tòa nhà và tổng hòa các dịch vụ bất động sản.</p>
                        <p>
                            Với mục tiêu trở thành Đơn vị kinh doanh và phân phối bất động sản tốt nhất Việt Nam, SGO LAND không chỉ tiếp tục phát huy thế mạnh của mình mà còn tiên phong xây dựng hệ sinh thái bất động sản đồng bộ, khép kín tại Việt Nam từ đầu tư, tư vấn phát triển dự án; phân phối, quản lý, vận hành, khai thác đến cung cấp những giải pháp công nghệb động sản, marketing và truyền thông dự án; đào tạo nhân sự chất lượng cao cho chủ đầu tư cũng như các đơn vị bất động sản trên cả nước.
                        </p>
                    </div>
                    <div class="buttons1">
                        <button href="@Url.Action("Index", "Contact", new { area = ""})" class="btnnnn2">Liên hệ ngay</button>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12 wow animate__fadeInRight" data-wow-delay="0.5s">
                    <img src="assets/img/B6.jpg" class="img-fluid" alt="" />
                </div>
                <div class="col-xxl-12 property_counter mt-30">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="home_counter_num text-center">
                                <h4 class="counter_title counter" data-target="20000"></h4>
                                <span>Sản phẩm</span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="home_counter_num text-center">
                                <h4 class="counter_title counter" data-target="150"></h4>
                                <span>Dự án</span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="home_counter_num text-center">
                                <h4 class="counter_title counter" data-target="10"></h4>
                                <span>Đơn vị thành viên & Liên kết</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /row -->

        </div>
    </section>
    <!-- ============================ TN GT SM ================================== -->

    <section class="gray-simple min" id="about-02">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 wow animate__zoomIn" data-wow-delay="0.5s">
                    <div class="sec-heading center">
                        <h2 class="uppercase">Sứ Mệnh - Giá Trị - Triết Lý Kinh Doanh</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 wow animate__lightSpeedInLeft mb-30" data-wow-delay="0.5s">
                    <div class="features_box activity">
                            <div class="features_box-icon">
                                <img src="~/assets/img/Sumenh1.jpg" alt="" class="img-fluid" />
                            </div>
                            <div class="features_box-content">
                                <h4>Sứ Mệnh</h4>
                                <b><i>Vì một Việt Nam thịnh vượng</i></b>
                                <div class="text-left">
                                    <p>SGO Land quyết tâm từng bước hiện thực hóa sứ mệnh thông qua hệ sinh thái đồng bộ, khép kín, bằng những dự án BĐS chất lượng, hệ thống tiện ích dịch vụ cao cấp và chuyên nghiệp. </p>
                                </div>
                            </div>
                    </div>
                </div>

                <!-- Single Step -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 wow animate__lightSpeedInLeft mb-30" data-wow-delay="0.5s">
                    <div class="features_box activity">
                        <div class="features_box-icon">
                            <img src="~/assets/img/Tamnhin1.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="features_box-content">
                            <h4>
                                Giá Trị Cốt Lõi
                            </h4>
                            <b><i>Khát vọng – Chân thành – Sáng tạo</i></b>
                            <div class="text-left">
                                <p>Khát vọng vươn lên đỉnh cao, vượt qua mọi giới hạn, kiến tạo cuộc sống thịnh vượng cho cộng đồng</p>
                                <p>Chân thành là giá trị cốt lõi của đạo đức kinh doanh. Sự hài lòng của khách hàng là thước đo thành công của SGO Land </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Step -->
                <!-- Single Step -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 wow animate__lightSpeedInLeft mb-30" data-wow-delay="0.5s">
                    <div class="features_box activity">
                        <div class="features_box-icon">
                            <img src="~/assets/img/trietlykinhdoanh1.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="features_box-content">
                            <h4>
                                Triết Lý Kinh Doanh
                            </h4>
                            <b><i>Lợi mình – Lợi người</i></b>
                            <div class="text-left">
                                <p>
                                    SGO Land mong muốn trở thành người đồng hành tin cậy trước khi là đối tác lâu dài. Với triết lý này,
                                    SGO Land luôn đặt khách hàng lên trước, nỗ lực nghiên cứu, phát triển các sản phẩm, dịch vụ ngày càng chất lượng,
                                    chuyên nghiệp và hoàn hảo, cho khách hàng giải pháp tốt nhất.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ================= LSHT ================= -->
    <section class="min" id="about-03">
        <div class="container">
            <div class="row justify-content-center wow animate__lightSpeedInRight" data-wow-delay="0.5s">
                <div class="col-lg-12 col-12">
                    <div class="sec-heading center">
                        <h2 class="uppercase">Lộ trình phát triển</h2>
                        <p>
                            Với chiến lược phát triển rõ ràng, tầm nhìn dài hạn, cùng đội ngũ cán bộ nhân viên tràn đầy nhiệt huyết, được đào tạo bài bản, chuyên nghiệp, SGO Land định hướng trở thành đơn vị kinh doanh và phân phối bất động sản hàng đầu Việt Nam.
                        </p>
                    </div>
                </div>
            </div>
            <div class="w-100">
                <img src="~/assets/img/about/lsht.jpg" alt="" class="img-fluid wow animate__lightSpeedInLeft" data-wow-delay="0.5s"/>
            </div>
        </div>
    </section>
    <!-- ================= SDTC ================= -->
    <section class="gray-simple min" id="about-04">
        <div class="container">
            <div class="row justify-content-center wow animate__lightSpeedInLeft" data-wow-delay="0.5s">
                <div class="col-lg-12 col-md-12">
                    <div class="sec-heading center">
                        <h2 class="uppercase">Sơ đồ tổ chức</h2>
                    </div>
                </div>
            </div>
            <div class="w-100">
                <img src="~/assets/img/about/sdtc.jpg" alt="" class="img-fluid wow animate__lightSpeedInRight" data-wow-delay="0.5s" />
            </div>
        </div>
    </section>

    <!-- ================= Company ================= -->
    <section class="min" id="about-05">
        <div class="container">
            <div class="row justify-content-center animate__fadeInDown wow" data-wow-delay="0.5s">
                <div class="col-lg-12 col-12">
                    <div class="sec-heading center">
                        <h2 class="uppercase">Công ty thành viên</h2>
@*                         <p>
                            Mời quý anh chị khách hàng và đối tác xem qua một số nhận xét, phản hồi của khách hàng về chúng tôi cũng như dịch vụ và sản phẩm mà chúng tôi cung cấp:
                        </p> *@
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="carousel-company" class="owl-carousel carousel-company animate__fadeInDown wow" data-wow-delay="0.5s">
                    <div class="item" data-bs-toggle="modal" data-bs-target="#sgo_land">
                        <div class="com-content text-center">
                            <a>
                                <img src="~/assets/img/company/sgo_land.jpg" />
                            </a>
                            <h5 class="text-16 uppercase mt-10">
                                    Công ty Cổ phần Đầu tư và Kinh doanh Bất Động Sản SGO
                            </h5>
                        </div>
                    </div>
                    <div class="item" data-bs-toggle="modal" data-bs-target="#sgo_diacoc">
                        <div class="com-content text-center">
                            <img src="~/assets/img/company/sgo_diaoc.jpg">
                            <h5 class="text-16 uppercase mt-10" href="">
                                Công ty Cổ phần Địa ốc SGO
                            </h5>
                        </div>
                    </div>
                    <div class="item" data-bs-toggle="modal" data-bs-target="#sgo_housing">
                        <div class="com-content text-center">
                            <img src="~/assets/img/company/sgo_housing.jpg">
                            <h5 class="text-16 uppercase mt-10" href="">
                                Công ty Cổ phần Đầu tư và Phát triển Bất Động Sản SGO Housing
                            </h5>
                        </div>
                    </div>
                    <div class="item" data-bs-toggle="modal" data-bs-target="#sgo_mienbac">
                        <div class="com-content text-center">
                            <img src="~/assets/img/company/sgo_mienbac.jpg">
                            <h5 class="text-16 uppercase mt-10" href="">
                                Công ty Cổ phần Đầu tư và Kinh doanh Bất Động Sản SGO Miền Bắc
                            </h5>
                        </div>
                    </div>
                    <div class="item" data-bs-toggle="modal" data-bs-target="#sgo_diamond">
                        <div class="com-content text-center">
                            <img src="~/assets/img/company/sgo_diamond.jpg">
                            <h5 class="text-16 uppercase mt-10" href="">
                                Công ty Cổ phần Đầu tư SGO Diamond
                            </h5>
                        </div>
                    </div>
                    <div class="item" data-bs-toggle="modal" data-bs-target="#sgo_avenue">
                        <div class="com-content text-center">
                            <img src="~/assets/img/company/sgo_avenue.jpg">
                            <h5 class="text-16 uppercase mt-10" href="">
                                Công ty Cổ phần Đầu tư và Phát triển Bất Động Sản SGO Avenue
                            </h5>
                        </div>
                    </div>
                    <div class="item" data-bs-toggle="modal" data-bs-target="#sgo_lotus">
                        <div class="com-content text-center">
                            <img src="~/assets/img/company/sgo_lotus.jpg">
                            <h5 class="text-16 uppercase mt-10" href="">
                                Công ty Cổ phần Bất Động Sản SGO Lotus
                            </h5>
                        </div>
                    </div>
                    <div class="item" data-bs-toggle="modal" data-bs-target="#sgo_anthinh">
                        <div class="com-content text-center">
                            <img src="~/assets/img/company/sgo_anthinh.jpg">
                            <h5 class="text-16 uppercase mt-10" href="">
                                Công ty Cổ phần Đầu tư và Kinh doanh Bất Động Sản SGO An Thịnh
                            </h5>
                        </div>
                    </div>
                    <div class="item" data-bs-toggle="modal" data-bs-target="#sgo_hathanh">
                        <div class="com-content text-center">
                            <img src="~/assets/img/company/sgo_hathanh.jpg">
                            <h5 class="text-16 uppercase mt-10" href="">
                                Công ty Cổ phần Bất Động Sản Hà Thành
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="sgo_land" tabindex="-1" aria-labelledby="sgo_land" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xxl">
            <div class="modal-content">
                <div class="modal-body">
                    <img class="w-100" src="~/assets/img/company/2048X1024-01.jpg" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sgo_diaoc" tabindex="-1" aria-labelledby="sgo_diaoc" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xxl">
            <div class="modal-content">
                <div class="modal-body">
                    <img class="w-100" src="~/assets/img/company/2048X1024-02.jpg" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sgo_housing" tabindex="-1" aria-labelledby="sgo_housing" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xxl">
            <div class="modal-content">
                <div class="modal-body">
                    <img class="w-100" src="~/assets/img/company/2048X1024-03.jpg" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sgo_mienbac" tabindex="-1" aria-labelledby="sgo_mienbac" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xxl">
            <div class="modal-content">
                <div class="modal-body">
                    <img class="w-100" src="~/assets/img/company/2048X1024-04.jpg" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sgo_diamond" tabindex="-1" aria-labelledby="sgo_diamond" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xxl">
            <div class="modal-content">
                <div class="modal-body">
                    <img class="w-100" src="~/assets/img/company/2048X1024-05.jpg" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sgo_avenue" tabindex="-1" aria-labelledby="sgo_avenue" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xxl">
            <div class="modal-content">
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sgo_lotus" tabindex="-1" aria-labelledby="sgo_lotus" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xxl">
            <div class="modal-content">
                <div class="modal-body">
                    <img class="w-100" src="~/assets/img/company/2048X1024-06.jpg" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sgo_anthinh" tabindex="-1" aria-labelledby="sgo_anthinh" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xxl">
            <div class="modal-content">
                <div class="modal-body">
                    <img class="w-100" src="~/assets/img/company/2048X1024-07.jpg" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sgo_hathanh" tabindex="-1" aria-labelledby="sgo_hathanh" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xxl">
            <div class="modal-content">
                <div class="modal-body">
                    <img class="w-100" src="~/assets/img/company/2048X1024-08.jpg" />
                </div>
            </div>
        </div>
    </div>
    <!-- ================= LVHĐ ================= -->
    <section class="gray-simple min" id="about-06">
        <div class="container">
            <div class="sec-heading col-12 text-center mb-20 wow animate__lightSpeedInRight" data-wow-delay="0.5s">
                <h2 class="uppercase">Lĩnh Vực Hoạt Động </h2>
                <p>
                    SGO Land sở hữu hệ sinh thái bất động sản toàn
                    diện với vòng tròn dịch vụ đầy đủ loại hình, giải quyết toàn bộ vấn đề
                    của khách hàng liên quan tới bất động sản.
                <p>
            </div>
            <!-- Choose img -->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12 wow animate__fadeInDown" data-wow-delay="0.5s">
                    <div class="property_location activity">
                        <a href="#">
                            <div class="property_location_thumb">
                                <img src="~/assets/img/Dautu1.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="property_location_caption1 text-center">
                                <div class="property_location__first">
                                    <h4>Đầu Tư Bất Động Sản</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 wow animate__fadeInDown" data-wow-delay="0.5s">
                    <div class="property_location activity">
                        <a href="#">
                            <div class="property_location_thumb">
                                <img src="~/assets/img/Phanphoi1.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="property_location_caption1 text-center">
                                <div class="property_location__first">
                                    <h4>Phân Phối Bất Động Sản</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 wow animate__fadeInDown" data-wow-delay="0.5s">
                    <div class="property_location activity">
                        <a href="#">
                            <div class="property_location_thumb">
                                <img src="~/assets/img/Tuvan1.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="property_location_caption1 text-center">
                                <div class="property_location__first">
                                    <h4>Tư Vấn</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 wow animate__fadeInDown" data-wow-delay="0.5s">
                    <div class="property_location activity">
                        <a href="#">
                            <div class="property_location_thumb">
                                <img src="~/assets/img/Marketing1.png" class="img-fluid" alt="" />
                            </div>
                            <div class="property_location_caption1 text-center">
                                <div class="property_location__first">
                                    <h4>Marketing</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 wow animate__fadeInDown" data-wow-delay="0.5s">
                    <div class="property_location activity">
                        <a href="#">
                            <div class="property_location_thumb">
                                <img src="~/assets/img/QuanlyTTTM1.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="property_location_caption1 text-center">
                                <div class="property_location__first">
                                    <h4>Quản Lý Trung Tâm Thương Mại</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 wow animate__fadeInDown" data-wow-delay="0.5s">
                    <div class="property_location activity">
                        <a href="#">
                            <div class="property_location_thumb">
                                <img src="~/assets/img/Daotao.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="property_location_caption1 text-center">
                                <div class="property_location__first">
                                    <h4>Đào Tạo</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ============================ Testimonials ================================== -->
    <section class="min" id="about-07">
        <div class="container">
            <div class="row justify-content-center wow animate__bounceInUp" data-wow-delay="0.5s">
                <div class="col-lg-12 col-12">
                    <div class="sec-heading center">
                        <h2 class="uppercase">Khách Hàng Nói Về Chúng Tôi</h2>
                        <p>
                            Mời quý anh chị khách hàng và đối tác xem qua một số nhận xét, phản hồi của khách hàng về chúng tôi cũng như dịch vụ và sản phẩm mà chúng tôi cung cấp
                        </p>
                    </div>
                </div>
            </div>
            <div class="row wow animate__bounceInRight" data-wow-delay="0.5s">
                <div id="main-carousel-testimonialsIndex" class="owl-carousel">
                    <div class="item">
                        <div class="testimonial-wraps">
                            <div class="testimonial-icon">
                                <img src="~/assets/img/testimonial/nguyenduchung.jpg" class="img-fluid" alt="">
                                <h5>Anh Nguyễn Đức Hưng </h5>
                                <span class="tst_post">Chủ sở hữu căn hộ tại dự án Roman Plaza </span>
                            </div>
                            <div class="facts-detail">
                                <p data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Inset Data">
                                    Trong lúc đang loay hoay không biết mua căn hộ giá tốt ở đâu, tôi đã được chuyên viên tư vấn của SGO Land giới thiệu và hướng dẫn tận tình để có được chốn an cư như ý, phù hợp với khả năng tài chính gia đình.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-wraps">
                            <div class="testimonial-icon">
                                <img src="~/assets/img/testimonial/trananhtuan.jpg" class="img-fluid" alt="">
                                <h5>Anh Trần Anh Tuấn</h5>
                                <span class="tst_post">Nhà đầu tư dự án SGO La Emera Hạ Long</span>
                            </div>
                            <div class="facts-detail">
                                <p data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Inset Data">Tham khảo nhiều đơn vị tư vấn, tôi lựa chọn SGO Land vì doanh nghiệp uy tín, đội ngũ tận tâm, có chuyên môn và tầm nhìn. Nhờ SGO Land, nhiều sản phẩm đầu tư của tôi đã thu trái ngọt. </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-wraps">
                            <div class="testimonial-icon">
                                <img src="~/assets/img/testimonial/truonghoaithu.jpg" class="img-fluid" alt="">
                                <h5>Chị Trương Hoài Thu </h5>
                                <span class="tst_post">Nhà đầu tư dự án Royal Riverside City </span>
                            </div>
                            <div class="facts-detail">
                                <p data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Inset Data">Nếu có điều kiện, tôi sẽ đầu tư thêm các sản phẩm khác do SGO Land phân phối, vì đội ngũ làm việc chuyên nghiệp, có kiến thức tốt và chuyên tâm.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-wraps">
                            <div class="testimonial-icon">
                                <img src="~/assets/img/testimonial/truongthimai.jpg" class="img-fluid" alt="">
                                <h5>Cô Trương Thị Mai</h5>
                                <span class="tst_post">Chủ sở hữu căn hộ dự án TNR Goldmark City </span>
                            </div>
                            <div class="facts-detail">
                                <p data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Inset Data">Nhờ được một người bạn giới thiệu, tôi biết đến SGO Land. Liên hệ để mua căn hộ cho con trai thì rất ấn tượng với phong cách làm việc nhanh nhẹn và có tâm của chuyên viên tư vấn SGO Land. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    window.localStorage.setItem("menu-active", "about-item");

    const counters = document.querySelectorAll(".counter");

    counters.forEach((counter) => {
        counter.innerText = "0";
        const updateCounter = () => {
            const target = +counter.getAttribute("data-target");
            const count = +counter.innerText;
            const increment = target / 5000;
            if (count < target) {
                counter.innerText = `${Math.ceil(count + increment)}`;
                setTimeout(updateCounter, 1);
            } else counter.innerText = target;
        };
        updateCounter();
    });

</script>

<script>new WOW().init();</script>
