@using NhaDat24h.Common.Configuration;

<div class="blog-detail-page pb-80">

        <div class="page-title" style="background:#f4f4f4 url(https://images.unsplash.com/photo-1565402170291-8491f14678db?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2017&q=80);" data-overlay="5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="breadcrumbs-wrap">
                            <h2 class="breadcrumb-title uppercase text-center">Tin tức</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="container mt-60">
        <div class="row">
            <div class="col-xxl-8 col-12">
                <div class="detail-main-listing-blog">
                    <div class="detail-blog">
                        <a class="detail-main-image">
                            <img src="https://becamex.com.vn/wp-content/uploads/2022/01/MPIP-5-scaled.jpg">
                        </a>
                        <div class="detail-blog-title mt-20">
                            <h3 class="f-20">Dòng vốn mới đổ bộ thị trường bất động sản công nghiệp</h3>
                            <p><i class="fa-regular fa-clock"></i> 22/09/2022 - Admin</p>
                        </div>
                        <div class="detail-blog-info">
                            <div class="blog-description">
                                <p class="mt-10 mb-20">
                                    Tại diễn đàn bất động sản công nghiệp Việt Nam 2023 với chủ đề “Đón đầu cơ hội từ dòng vốn mới” do báo Đầu tư tổ chức sáng 24/8 tại Tp.HCM cho thấy, hầu hết các doanh nghiệp khu công nghiệp (KCN) đã sẵn sàng đón làn sóng dịch chuyển đầu tư mới.
                                </p>
                                <p class="mt-10 mb-20">
                                    Theo thống kê của Cục Đầu tư nước ngoài, Bộ Kế hoạch và Đầu tư, tính đến cuối tháng 7/2023, vốn đầu tư trực tiếp nước ngoài (FDI) vào Việt Nam đạt 13,43 tỷ USD; trong đó, lĩnh vực bất động sản thu hút được 1,53 tỷ USD – giữ vị trí thứ 3 trong các ngành, lĩnh vực.
                                </p>
                                <p class="mt-10 mb-20">
                                    Lượng vốn FDI gia tăng, khiến nhu cầu bất động sản khu công nghiệp bật tăng.
                                </p>
                                <p class="mt-10 mb-20">
                                    Báo cáo quý 3/2023 của Bộ Xây dựng cho biết nhu cầu thuê nhà xưởng khu công nghiệp trong quý vẫn duy trì ổn định. Tại một số tỉnh có xuất hiện nhu cầu tăng nhẹ như Bắc Giang, Bắc Ninh, Quảng Ninh, Nam Định, Hải Phòng do ký kết hợp đồng với nhiều đối tác nước ngoài trong giai đoạn đầu năm 2023
                                </p>
                                <p class="mt-10 mb-20">
                                    Đáng chú ý, tỷ lệ lấp đầy tại các khu công nghiệp hiện hữu trên địa bàn cả nước đạt khoảng 80% tại khu vực phía Bắc và trên 85% tại khu vực phía Nam. Bên cạnh đó, giá cho thuê đất bình quân cho cả chu kỳ thuê tại các khu công nghiệp trong quý 2/2023 cơ bản ổn định so với quý trước và tăng khoảng 5 – 7% so với cùng kỳ năm trước.
                                </p>
                                <p class="mt-10 mb-20">
                                    Nhờ vào các lợi thế về nền kinh tế định hướng xuất khẩu với nhiều chính sách hỗ trợ, vị trí địa lý chiến lược cùng với chi phí vận hành ưu đãi… thị trường Việt Nam được các chuyên gia đánh giá vẫn là điểm đến được các nhà đầu tư cân nhắc và lựa chọn nơi lý tưởng để đầu tư. Tuy nhiên, vì sản xuất là động lực tăng trưởng chính của hầu hết các nền kinh tế Đông Nam Á, các nước trong khu vực cũng đều đang nỗ lực để giành được nhiều nguồn vốn đầu tư trực tiếp nước ngoài (FDI) có giá trị cao vào ngành công nghiệp sản xuất nên thị trường vẫn sẽ có những trở ngại nhất định trong thời gian tới.
                                </p>
                                <p class="blog-extra-link mt-10 text-italic">
                                    Xem thêm: <a href="#" class="text-14-primary">Các tin tức khác</a>
                                </p>
                                <div class="blog-social-share d-flex align-items-center gap-10">
                                    <p class="m-0">Chia sẻ:</p>
                                    <div class="social-share-btn">
                                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                        <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                                        <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                                        <a href="#"><i class="fa-brands fa-square-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-12">
                <div class="sidebar pb-60">
                    <div class="line-horizontal-4"></div>
                    <div class="widget categories-widget">
                        <div class="widget-title">Danh mục<span></span></div>
                        <ul class="custom mt-10">
                            <li>
                                <a href="#">Đào tạo BĐS<span>10</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget popular-feeds">
                        <div class="widget-title">Tin tức<span></span></div>
                        <div class="popular-feed-loop">
                            <div class="single-popular-feed">
                                <div class="feed-desc">
                                    <div class="feed-image">
                                        <img style="width:100%;" src="https://sgogroup.net/wp-content/uploads/2023/04/khoi-cong-sgo-la-emera-phu-yen-1.jpg">
                                    </div>
                                    <div class="feed-text">
                                        <h6 class="post-title">
                                            <a href="#">
                                                Title Block
                                            </a>
                                        </h6>
                                        <span class="time"><i class="fa fa-calendar"></i> 22/12/2023 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget popular-tag-widget">
                        <div class="widget-title">Popular Tag<span></span></div>
                        <div class="tags mt-10">
                            <a href="">Đào tạo chuyên viên</a>
                            <a href="">Giới thiệu dự án</a>
                            <a href="">Công ty</a>
                            <a href="">ABCD</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>