@using NhaDat24h.Common.Configuration;

<div class="blog-detail-page pb-80">

    <div class="page-title" style="background:#f4f4f4 url(https://images.unsplash.com/photo-1565402170291-8491f14678db?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2017&q=80);" data-overlay="5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="breadcrumbs-wrap">
                        <h2 class="breadcrumb-title uppercase text-center">Công khai thông tin của các nghị định đối với Dự án Khu dân cư thị trấn Mường Khến, huyện Tân Lạc, tỉnh Hòa Bình.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-60">
        <div class="row">
            <div class="col-xxl-8 col-12">
                <div class="detail-main-listing-blog">
                    <div class="detail-blog">
                        <a class="detail-main-image">
                            <img src="~/assets/img/blog/muongkhen.png">
                        </a>
                        <div class="detail-blog-title mt-20">
                            <h3 class="f-26 text-bold">Công khai thông tin của các nghị định đối với Dự án Khu dân cư thị trấn Mường Khến, huyện Tân Lạc, tỉnh Hòa Bình.</h3>
                            <p><i class="fa-regular fa-clock"></i> 20/12/2022 - Admin</p>
                        </div>
                        <div class="detail-blog-info">
                            <div class="blog-description">
                                <p class="mt-10 mb-20">
                                    Loại bất động sản: Nhà ở Liền kề, Biệt thự.
                                </p>
                                <p class="mt-10 mb-20">
                                    Vị trí bất động sản: Thị trấn Mãn Đức, huyện Tân Lạc, tỉnh Hòa Bình.
                                </p>
                                <p class="mt-10 mb-20">
                                    Thông tin về quy hoạch có liên quan đến bất động sản:
                                    <ul class="text-14">
                                        <li>- Giấy tờ về quy hoạch - <a target="_blank" href="~/assets/doc/MK/giaytoquyhoach.pdf">Tải xuống</a></li>
                                    </ul>
                                </p>
                                <p class="mt-10 mb-20">
                                    Quy mô của bất động sản: 332 lô đất nhà ở Liền kề; 14 lô đất nhà ở Biệt thự.
                                </p>
                                <p class="mt-10 mb-20">
                                    Đặc điểm, tính chất, công năng sử dụng: Đất ở đô thị xây dựng nhà ở riêng lẻ và nhà ở kết hợp kinh doanh.
                                </p>
                                <p class="mt-10 mb-20">
                                    Thực trạng các công trình hạ tầng, dịch vụ liên quan đến bất động sản:
                                    <ul class="text-14">
                                        <li>- Giấy tờ nghiệm thu - <a target="_blank" href="~/assets/doc/MK/giaytonghiemthu.pdf">Tải xuống</a></li>
                                    </ul>
                                </p>
                                <p class="mt-10 mb-20">
                                    Hồ sơ, giấy tờ về quyền sở hữu nhà, công trình xây dựng, quyền sử dụng đất và giấy tờ có liên quan đến việc đầu tư xây dựng bất động sản; hợp đồng bảo lãnh, văn bản cho phép bán, cho thuê mua của cơ quan nhà nước có thẩm quyền đối với việc bán, cho thuê mua nhà ở hình thành trong tương lai:
                                    <ul class="text-14">
                                        <li>- Giấy tờ về quyền sử dụng đất - <a target="_blank" href="~/assets/doc/MK/giaytoquynsudungdat.pdf">Tải xuống</a></li>
                                        <li>- Văn bản cho phép bán - <a target="_blank" href="~/assets/doc/MK/vanbanchophepban.pdf">Tải xuống</a></li>
                                    </ul>
                                </p>
                                <p class="blog-extra-link mt-10 text-italic">
                                    Xem thêm: <a href="#" class="text-14-primary">Các tin tức khác</a>
                                </p>
                                <div class="blog-social-share d-flex align-items-center gap-10">
                                    <p class="m-0">Chia sẻ:</p>
                                    <div class="social-share-btn">
                                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                        <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                                        <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                                        <a href="#"><i class="fa-brands fa-square-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-12">
                <div class="sidebar pb-60">
                    <div class="line-horizontal-4"></div>
                    <div class="widget categories-widget">
                        <div class="widget-title">Danh mục<span></span></div>
                        <ul class="custom mt-10">
                            <li>
                                <a href="#">Đào tạo BĐS<span>10</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget popular-feeds">
                        <div class="widget-title">Tin tức<span></span></div>
                        <div class="popular-feed-loop">
                            <div class="single-popular-feed">
                                <div class="feed-desc">
                                    <div class="feed-image">
                                        <img style="width:100%;" src="https://sgogroup.net/wp-content/uploads/2023/04/khoi-cong-sgo-la-emera-phu-yen-1.jpg">
                                    </div>
                                    <div class="feed-text">
                                        <h6 class="post-title">
                                            <a href="#">
                                                Title Block
                                            </a>
                                        </h6>
                                        <span class="time"><i class="fa fa-calendar"></i> 22/12/2023 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget popular-tag-widget">
                        <div class="widget-title">Popular Tag<span></span></div>
                        <div class="tags mt-10">
                            <a href="">Đào tạo chuyên viên</a>
                            <a href="">Giới thiệu dự án</a>
                            <a href="">Công ty</a>
                            <a href="">ABCD</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>