@using NhaDat24h.DataDto.Users;
@{
    Layout = null;
}
@model List<MulltiKeyValue>
@{
    if (Model == null)
        return;
    foreach (var item in Model)
    {
        <option value="@item.Id">@item.Title</option>
    }
}