@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div>
    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->
    <!-- ============================ Page Title Start================================== -->
    <div class="page-title" style="background:#f4f4f4 url(https://images.unsplash.com/photo-1565402170291-8491f14678db?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2017&q=80);" data-overlay="5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="breadcrumbs-wrap text-center">
                        <h2 class="breadcrumb-title uppercase">Tuyển dụng</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================ Page Title End ================================== -->
    <section class="container">
        <div class="row">
            <div class="col-xxl-9 col-12">
                <div class="job-content-parent">
                    <div class="job-header text-center">
                        <label>
                            Vị Trí Tuyển Dụng
                        </label>
                        <h3 class="uppercase text-bold">Giám đốc kinh doanh bất động sản</h3>
                        <div class="modal-divider"></div>
                        <ul class="job-header-child pt-20 text-left">
                            <li class="d-flex gap-10">
                               <i class="fas fa-map-marker-alt"></i>
                                <div class="text-14"><span class="color-gray">Địa điểm làm việc:</span> Hai Phat Land – Tầng 2, TTTM HPC Landmark 105, đường Tố Hữu, La Khê, Hà Đông, HN</div>
                            </li>
                            <li class="d-flex gap-10">
                                <i class="fas fa-users"></i>
                                <div class="text-14"><span class="color-gray">Số lượng</span>: 01 người</div>
                            </li>
                            <li class="d-flex gap-10">
                                <i class="fas fa-calendar-check"></i>
                                <div class="text-14"><span class="color-gray">Hạn nộp hồ sơ:</span> 31/12/2023</div>
                            </li>
                            <li class="d-flex gap-10">
                                <i class="fas fa-dollar-sign"></i>
                                <div class="text-14"><span class="color-gray">Mức lương:</span> Thỏa thuận</div>
                            </li>
                            <li class="buttons2 mt-20">
                                <button class="btnnnn3" data-bs-toggle="modal" data-bs-target="#form_register">
                                    Ứng tuyển ngay
                                </button>
                            </li>
                        </ul>
                        <div class="modal-divider"></div>
                    </div>
                    <div class="job-content">
                        <h6 class="uppercase text-bold">Mô tả công việc:</h6>
                        <ul>
                            <li>Xây dựng chiến lược, kế hoạch bán hàng trong từng giai đoạn, từng thời điểm, chịu trách nhiệm về kết quả kinh doanh trước Tổng giám đốc;</li>
                            <li>Xây dựng các chính sách kinh doanh và triển khai kế hoạch kinh doanh cho các sản phẩm của công ty</li>
                            <li>Kiểm tra, giám sát các bộ phận trực thuộc triển khai công việc theo kế hoạch, theo nhiệm vụ quyền hạn và mục tiêu đã đề ra.</li>
                            <li>Thực hiện, triển khai và đạt các chỉ tiêu về Doanh thu, lợi nhuận đã được Tổng giám đốc phê duyệt;</li>
                            <li>Thực hiện các báo cáo kết quả kinh doanh cho TGĐ theo quy định của công ty, cung cấp thông tin thị trường,</li>
                            <li>Phối hợp với phòng Marketing lên kế hoạch truyền thông tổng thể cho từng Dự án, tham mưu cho Tổng giám đốc về chiến lược giá, chiến lược sản phẩm.</li>
                            <li>Xây dựng chiến lược, kế hoạch đào tạo và phát triển nhân viên nhằm khuyến khích, tạo động lực nâng cao năng suất, hiệu quả công việc.</li>
                            <li>Hoàn thiện và quản trị chặt chẽ theo quy chuẩn về các hệ thống văn bản, hợp đồng, thỏa thuận trong hoạt động kinh doanh dịch vụ bất động sản....</li>
                            <li>Quy mô tuyển dụng mở rộng trên toàn quốc, ưu tiên các tỉnh: Hà Nội, Hòa Bình, Thái Nguyên, HCM, Đà Nẵng….</li>
                        </ul>
                        <h6 class="uppercase text-bold">Yêu cầu tuyển dụng:</h6>
                        <ul>
                            <li>Nam/Nữ, tuổi từ 30-45, ngoại hình khá, sức khỏe tốt</li>
                            <li>Tốt nghiệp Cao đẳng, Đại học ngành quản trị kinh doanh hoặc chuyên ngành liên quan.</li>
                            <li>Kinh nghiệm 2-3 năm giữ chức vụ Phó Giám Đốc Sàn tại các công ty có quy mô lớn, ưu tiên ứng viên đã từng làm việc tại các Sàn giao dịch BĐS, Công ty BĐS, bảo hiểm.</li>
                            <li>Chứng chỉ môi giới, định giá bất động sản </li>
                            <li>Am hiểu tình hình thị trường bất động sản, kiến thức phong thủy, kiến thức văn hóa xã hội</li>
                            <li>Kỹ năng lãnh đạo, đàm phán, thuyết phục và giải quyết vấn đề</li>
                            <li>Kỹ năng sắp xếp công việc, quản lý thời gian</li>
                            <li>Khả năng tạo động lực cho nhân viên.</li>
                            <li>Có niềm đam mê kinh doanh và khát vọng làm giàu</li>
                            <li>Đủ sức khỏe để đảm đương công việc.</li>
                        </ul>
                        <h6 class="uppercase text-bold">Quyền lợi được hưởng:</h6>
                        <ul>
                            <li>Thu nhập hấp dẫn, không giới hạn theo chính sách hoa hồng kinh doanh.</li>
                            <li>Thưởng nóng hấp dẫn (tùy theo chương trình hàng tháng, quý ….)</li>
                            <li>Môi trường làm việc thân thiện, hiện đại , năng động, chuyên nghiệp, cơ hội thăng tiến rõ ràng.</li>
                            <li>Tất cả các vị trí đều được tham gia các khóa đào tạo – huấn luyện để phát triển năng lực – hiệu quả làm việc hàng tháng/ quý/ năm.</li>
                            <li>Thưởng các ngày lễ trong năm : 30/4, 01/5, 2/9, 10/3…….</li>
                            <li>Chính sách phúc lợi cho nhân viên liên tục : Sinh nhật, 20/10, 8/3 , ….</li>
                            <li>Thưởng tết âm lịch ( lương tháng 13) hấp dẫn theo tình hình kinh doanh thực tế của công ty</li>
                            <li>Được xét nâng lương định kỳ hàng năm.</li>
                            <li>Chương trình nghỉ mát miễn phí hàng năm dành cho Cán bộ - Nhân viên với các gói dịch vụ tiêu chuẩn 4, 5 sao ở các điểm du lịch trong và ngoài nước.</li>
                            <li>Các chế độ bảo hiểm xã hội, bảo hiểm y tế, nghỉ phép và chế độ khác theo quy định của pháp luật</li>
                            <li>Các hoạt động tập thể được Công ty tài trợ miễn phí : Teambuilding, Bóng đá,…</li>
                            <li>Tham gia các hoạt động an sinh xã hội theo định kỳ.</li>
                            <li>Hợp đồng lao động dự kiến: được ký HĐLĐ 12 tháng</li>
                        </ul>
                        <h6 class="uppercase text-bold">Địa điểm và thời gian làm việc:</h6>
                        <ul>
                            <li>Tại Trụ sở chính công ty : Hai Phat Land – Tầng 2, TTTM HPC Landmark 105, đường Tố Hữu, La Khê, Hà Đông, HN</li>
                            <li>Thời gian làm việc: Sáng 08h-12h, chiều 13h30 đến 17h30, từ thứ hai đến hết sáng thứ 7 hàng tuần</li>
                        </ul>
                        <h6 class="uppercase text-bold">Thông tin liên hệ:</h6>
                        <ul>
                            <li class="text-bold">Email: tuyendung@sgogroup.com.vn</li>
                            <li class="text-red text-bold">Mobile: Ms Hằng – 097 386 5192</li>
                        </ul>

                    </div>
                </div>   
            </div>
            <div class="col-xxl-3 col-12">
                <div class="fanpage-fb">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FTuyenDungHaiPhatLandVietNam&tabs=timeline%2Cevents%2Cmessages%20&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="form_register" tabindex="-1" aria-labelledby="form_register" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title text-16 uppercase" id="form_register">
                    Để được liên hệ sớm nhất hãy ứng tuyển tại đây!
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="FormRegister" class="form-simple needs-validation" enctype="multipart/form-data" novalidate>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Họ và tên</label>
                                <input type="text" placeholder="Họ và tên" class="form-control simple">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" placeholder="Email" class="form-control simple">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Số điện thoại</label>
                                <input type="text" placeholder="Số điện thoại" class="form-control simple">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Vị trí ứng tuyển</label>
                                <input type="text" placeholder="Vị trí ứng tuyển" class="form-control simple">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Giới thiệu bản thân</label>
                                <textarea class="form-control" rows="3" placeholder="Giới thiệu bản thân"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Hồ sơ đính kèm</label>
                                <div class="form-group btn-upload2">
                                    <label for="avatar" data-id="avatar" class="change-image">Upload File</label>
                                    <input class="upload__inputfile" id="avatar" style="display:none;" data-id="avatar" type="file" name="AvtEdit">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group buttons1">
                                <button class="btnnnn2">
                                    Ứng tuyển
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
