<div>
    <!-- End Navigation -->
    <!-- Top header  -->
    <!-- ============================================================== -->
    <!-- ============================ Page Title Start================================== -->
    <div class="page-title" style="background:#f4f4f4 url(https://images.unsplash.com/photo-1565402170291-8491f14678db?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2017&q=80);" data-overlay="5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="breadcrumbs-wrap">
                        <h2 class="breadcrumb-title text-center uppercase">Dự án</h2>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- ============================ Page Title End ================================== -->
    <!-- ============================ Featured Property Start ================================== -->
    <section>
        <div class="container">
            <div class="row">
                <!-- Single Places -->
                <div class="col-lg-6 col-md-6">
                    <div class="property_location">
                        <div class="property_location_thumb">
                            <a href="@Url.Action("ProjectDetail", "Project")"><img src="https://sgogroup.net/wp-content/uploads/2023/03/sgo-la-emera-phu-yen-01a.jpg" class="img-fluid" alt="" /></a>
                        </div>
                        <div class="property_location_caption">
                            <div class="property_location__first">
                                <h4><a href="@Url.Action("ProjectDetail", "Project")">SGO La Emera Phú Yên – Chủ Đầu Tư SGO Group</a></h4>
                                <div class="d-flex gap-10 mt-10">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span>Đại Lộ Hùng Vương, Xã Kiến Bình – TP.Tuy Hòa – Tỉnh Phú Yên</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Places -->
                <div class="col-lg-6 col-md-6">
                    <div class="property_location">
                        <div class="property_location_thumb">
                            <a href="@Url.Action("ProjectDetail", "Project")"><img src="https://sgogroup.net/wp-content/uploads/2023/03/royal-riverside-city1.jpg" class="img-fluid" alt="" /></a>
                        </div>
                        <div class="property_location_caption">
                            <div class="property_location__first">
                                <h4><a href="@Url.Action("ProjectDetail", "Project")">Royal Riverside City – Chủ Đầu Tư SGO Group</a></h4>
                                <div class="d-flex gap-10 mt-10">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span>Sông Ka Long, Phường Hải Yên, Móng Cái, Quảng Ninh</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Places -->
                <div class="col-lg-6 col-md-6">
                    <div class="property_location">
                        <div class="property_location_thumb">
                            <a href="project-detail.html"><img src="https://sgogroup.net/wp-content/uploads/2023/03/tong-quan-sgo-la-emera-ha-long1-1.jpeg" class="img-fluid" alt="" /></a>
                        </div>
                        <div class="property_location_caption">
                            <div class="property_location__first">
                                <h4><a href="privacy.html">SGO La Emera Hạ Long – Chủ Đầu Tư SGO Group</a></h4>
                                <div class="d-flex gap-10 mt-10">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span>KĐT Khe Cá GĐ 2, phường Hà Phong, Thành Phố Hạ Long, tỉnh Quảng Ninh</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Places -->
                <div class="col-lg-6 col-md-6">
                    <div class="property_location">
                        <div class="property_location_thumb">
                            <a href="project-detail.html"><img src="https://sgogroup.net/wp-content/uploads/2023/03/phoi-canh-tien-hai-star-city1.jpg" class="img-fluid" alt="" /></a>
                        </div>
                        <div class="property_location_caption">
                            <div class="property_location__first">
                                <h4><a href="project-detail.html">Tiền Hải Star City – Chủ Đầu Tư Hải Phát</a></h4>
                                <div class="d-flex gap-10 mt-10">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span>Xã Tây Sơn, Thị trấn Tiền Hải, Huyện Tiền Hải, Thái Bình</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Places -->
            </div>

        </div>

    </section>
    <div class="clearfix"></div>
    <!-- ============================ Featured Property End ================================== -->
    <!-- ============================ Partner Us ================================== -->
    <section class="gray-simple min">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12">
                    <div class="sec-heading center">
                        <h2>Đối Tác</h2>
                        <p>Sở hữu nhiều năm kinh nghiệm phân phối các dự án uy tín trên khắp cả nước, cùng nội lực vững vàng, SGO Land đã và đang trở thành đối tác tin cậy của nhiều chủ đầu tư, đơn vị chuyên hoạt động trong lĩnh vực bất động sản cả trong và ngoài nước.</p>
                    </div>
                </div>
            </div>
            <div id="main-carousel-partnerIndex" class="owl-carousel">
                <div class="item">
                    <div class="partner-us">
                        <img src="~/assets/img/doitac1.png">
                    </div>
                </div>
                <div class="item">
                    <div class="partner-us">
                        <img src="~/assets/img/doitac2.jpg ">
                    </div>
                </div>
                <div class="item">
                    <div class="partner-us">
                        <img src="~/assets/img/doitac3.png">
                    </div>
                </div>
                <div class="item">
                    <div class="partner-us">
                        <img src="~/assets/img/doitac4.png">
                    </div>
                </div>
                <div class="item">
                    <div class="partner-us">
                        <img src="~/assets/img/doitac5.png">
                    </div>
                </div>
                <div class="item">
                    <div class="partner-us">
                        <img src="~/assets/img/doitac6.png">
                    </div>
                </div>
                <div class="item">
                    <div class="partner-us">
                        <img src="~/assets/img/doitac7.png">
                    </div>
                </div>
                <div class="item">
                    <div class="partner-us">
                        <img src="~/assets/img/doitac8.png">
                    </div>
                </div>
                <div class="item">
                    <div class="partner-us">
                        <img src="~/assets/img/doitac9.png">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ============================ Packages End ================================== -->
</div>

<script>
    window.localStorage.setItem("menu-active", "project-item");
</script>