			<!-- ============================ Page Title Start================================== -->
<div class="page-detail">
	<div id="main-carousel-detailProject" class="owl-carousel">
		<div class="item">
			<div class="pr-image">
				<a href="#">
					<img src="https://sgogroup.net/wp-content/uploads/2023/03/royal-riverside-city1.jpg" alt="#">
				</a>
			</div>
		</div>
		<div class="item">
			<div class="pr-image">
				<a href="#">
					<img src="https://sgogroup.net/wp-content/uploads/2023/03/tong-quan-hp-eliter-hp.jpg" alt="#">
				</a>
			</div>
		</div>
	</div>
	<a href="#" class="btn btn_view_photos">View Photos</a>
</div>
<!-- ============================ Page Title End ================================== -->
<!-- ============================ Property Detail Start ================================== -->
<section class="gray-dark pts-0 detail-project2">
	<div class="container">
		<div class="row">
			<div class="row row-cols-xxl-3">
				<div class="col-auto">
					<div class="over_tops">
						<div class="agent-sides_2 mb-4 b-0">
							<div class="agent-sides_2_caption">
								<span class="agent-sides_2_status">Đang triển khai</span>
								<div class="property_lexible-1 mb-4 mt-10">
									<div class="pr-price-into flex-1">
										<h2>SGO La Emera Phú Yên – Chủ Đầu Tư SGO Group</h2>
										<span><i class="fas fa-map-marker-alt"></i> Đại Lộ Hùng Vương, Xã Kiến Bình – TP.Tuy Hòa – Tỉnh Phú Yên</span>
									</div>
								</div>
								<a class="agent-btn-contact btn btn-theme bg-2" data-bs-toggle="offcanvas" href="#contactoffcanvas" role="button" aria-controls="contactoffcanvas"><i class="fa-regular fa-paper-plane"></i>Liên hệ ngay</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-auto">
				</div>
			</div>
			<!-- property main detail -->
			<div class="col-lg-8 col-md-12 col-sm-12 order-lg-2 order-md-2 order-1 prt_5th">
				<!-- Single Block Wrap -->
				<div class="property_block_wrap style-2">

					<div class="property_block_wrap_header">
						<a data-bs-toggle="collapse" href="#clOne" role="button" aria-expanded="false" aria-controls="clOne">
							<h4 class="property_block_title">Quy mô dự án</h4>
						</a>
					</div>
					<div id="clOne" class="panel-collapse collapse show">
						<div class="block-body project-size">
							<ul class="deatil_features">
								<li><strong>Tên dự án:</strong>SGO La Emera Phú Yên</li>
								<li><strong>Chủ đầu tư:</strong>SGO Group</li>
								<li><strong>Vị trí:</strong>Đại lộ Hùng Vương, Bình Kiến, Tuy Hòa, Phú Yên</li>
								<li><strong>Quy mô:</strong>16.045,49m2</li>
								<li><strong>Số lượng:</strong>60 căn</li>
								<li><strong>Loại hình:</strong>Shophouse, Boutique hotel</li>
								<li><strong>Số tầng:</strong>4-10 tầng</li>
							</ul>
							<ul class="deatil_features">
								<li><strong>Chiều cao tối đa:</strong>36,2m</li>
								<li><strong>Tổng vốn đầu tư:</strong>500 tỷ đồng</li>
								<li><strong>Thời gian xây dựng:</strong>Khoảng 24 tháng</li>
								<li><strong>Ngân hàng cho vay:</strong>Agribank ,VP Bank, VCB…</li>
								<li><strong>Bàn giao dự kiến:</strong>Quý 4 2023</li>
								<li><strong>Pháp lý:</strong>Sổ đỏ lâu dài</li>
							</ul>
						</div>
					</div>

				</div>

				<!-- Single Block Wrap -->
				<div class="property_block_wrap style-2">

					<div class="property_block_wrap_header">
						<a data-bs-toggle="collapse" href="#clTwo" role="button" aria-expanded="false" aria-controls="clTwo">
							<h4 class="property_block_title">Vị trí dự án</h4>
						</a>
					</div>
					<div id="clTwo" class="panel-collapse collapse show project-location" aria-expanded="true">
						<div class="block-body">
							<p>Dự án SGO La Emera Phú Yên có vị trí tọa lạc tại đại lộ Hùng Vương, xã Bình Kiến, huyện Tuy Hòa, tỉnh Phú Yên. Trục đường sôi động, sầm uất và “đắt đỏ” bậc nhất của phố biển Tuy Hòa. Song song đó, dự án SGO La Emera Phú Yên cách bãi biển chưa đầy 500m, đem đến khí hậu mát mẻ và dễ chịu cho cư dân; cư dân hay du khách lưu trú thuận tiện dạo biển và ngắm nhìn sự thuần khiết của biển xanh – cát trắng – nắng vàng, lắng nghe thanh âm rì rào từ các đợt sóng xô bờ để được cân bằng thân – tâm – trí, điều tuyệt vời từ vị trí mà hiếm có dự án nào mang đến được, và nhiều danh lam thắm cảnh nổi tiếng của xứ sở hoa vàng trên cỏ xanh.</p>
							<p>Bên cạnh đó, với việc sở hữu mặt tiền đường Hùng Vương, tuyến đường huyết mạch của thành phố, kết nối thuận tiện với Quốc lộ 1A và sân bay Đông Tác (sân bay Tuy Hòa); Liền kề với các trung tâm hành chính, trường học, bệnh viện, các tiện ích vui chơi giải trí trong bán kính chỉ 2km… Đem đến cuộc sống thuận tiện cùng tiềm năng lớn cho gia chủ sở hữu sản phẩm dự án SGO La Emera Phú Yên.</p>
							<p>Không chỉ dừng lại ở đó, từ dự án SGO La Emera Phú Yên còn dễ dàng kết nối với các danh thắng nổi tiếng như: Núi Nhạn, Tháp Chàm (phía Tây dự án); Mũi Điện, Bãi Môn (phía Nam); Bãi Long Thủy (phía Bắc) hay Gành Đá Đĩa, Đầm Ô Loan, cùng những bãi biển nên thơ ở phía Đông dự án. Tô điểm thêm cho tiềm năng khai thác kinh doanh dịch vụ, du lịch cho các nhà đầu tư sở hữu dự án, đón đầu tiềm năng phát triển du lịch hấp dẫn của Phú Yên.</p>
							<img src="https://sgogroup.net/wp-content/uploads/2023/03/vi-tri-sgo-la-emera-phu-yen-1.jpg">
						</div>
					</div>
				</div>

				<!-- Single Block Wrap -->
				<div class="property_block_wrap style-2">

					<div class="property_block_wrap_header">
						<a data-bs-toggle="collapse" href="#clFive" role="button" aria-expanded="false" aria-controls="clFive">
							<h4 class="property_block_title">Mặt bằng dự án</h4>
						</a>
					</div>

					<div id="clFive" class="panel-collapse collapse project-location" aria-expanded="true">
						<div class="block-body">
							<p>SGO La Emera Phú Yên có tổng diện tích 16.045,49m2, được thiết kế xây dựng với mô hình shophouse và shop tel. Cung cấp ra thị trường với 62 căn boutique shophous & shoptel, 32 shophouse với hơn 1.500 phòng khách sạn.</p>
							<img src="https://sgogroup.net/wp-content/uploads/2023/03/vi-tri-du-an-sgo-la-emera-phu-yen.jpg">
							<div class="mt-30"></div>
							<img src="https://sgogroup.net/wp-content/uploads/2023/03/Ban-Do-Phan-Lo-Du-An-Sgo-La-Emera-Phu-Yen.jpg">
							<h5 class="mt-30 text-bold">Thiết kế dự án SGO La Emera Phú Yên</h5>
							<p>Mang trong mình kiến trúc cách tân Tây Âu kết hợp kiến trúc nhiệt đới hiện đại, dự án như một tuyệt phẩm tích hợp 2 giá trị: “THƯƠNG MẠI ĐỈNH CAO – NGHỈ DƯỠNG XỨNG TẦM” nhằm kiến tạo nên một giá trị hưởng thụ trọn vẹn dành cho giới thượng lưu tại Phú Yên.</p>
							<img src="https://sgogroup.net/wp-content/uploads/2023/03/Thiet-Ke-Mang-Phong-Cach-Troi-Au-Sgo-La-Emera.jpg">
							<p class="mt-30">Dự án SGO La Emera Phú Yên là sự đánh thức & hiện thân bừng sáng của viên ngọc ở sâu thẳm đại dương xanh, khai mở những cảm xúc bất tận để thỏa mãn mọi khát vọng. Dẫn dắt và soi sáng cho một di sản mới của phong cách sống hiện đại, thời thượng hội tụ đủ giá trị để hoàn thành bản giao hưởng hoàn mỹ mang tên “AQUAMARINE”. Hình thái viên ngọc Aquamarine luôn được xuất hiện tại những món trang sức của những nhân vật hoàng gia khắp thế giới. Điều đó thể hiện giá trị đặc quyền đẳng cấp nhất của một sản phẩm. Không chỉ là một niềm tự hào, giúp chủ nhân nâng tầm đẳng cấp, mang đến nguồn cảm hứng bất tận, sự kiêu hãnh cũng như thăng hoa về mặt tinh thần.</p>
							<p>Các sản phẩm tại dự án SGO La Emera được xây dựng thô hoàn thiện mặt ngoài, chiều cao các căn shophouse có diện tích đất từ 98 – 489 m2. Được thiết kế từ 6 – 9 tầng và sở hữu 1 tầng hầm. Tích hợp tiêu chí cao cấp chuẩn quốc tế và hệ thống tiện ích hoàn hảo, với số lượng sản phẩm giới hạn, có thể nói SGO La Emera Phú Yên xứng đáng được coi là một siêu phẩm, là món tài sản, trang sức mà giới thượng lưu săn lùng sở hữu cho bản thân mình để gia tăng giá trị bản thân và chinh phục những kỳ quan, tinh hoa của cuộc sống.</p>
						</div>
					</div>

				</div>

				<!-- Single Block Wrap -->
				<div class="property_block_wrap style-2">

					<div class="property_block_wrap_header">
						<a data-bs-toggle="collapse" href="#clThree" role="button" aria-expanded="false" aria-controls="clThree">
							<h4 class="property_block_title">Tiện ích</h4>
						</a>
					</div>

					<div id="clThree" class="panel-collapse collapse" aria-expanded="true">
						<div class="block-body">
							<ul class="avl-features third color">
								<li>Nhà hàng</li>
								<li>Khách sạn</li>
								<li>Công viên cây xanh</li>
								<li>Bể bơi</li>
								<li>Rrooftop Coffee</li>
								<li>Quảng trường trung tâm</li>
								<li>Nhà trẻ quốc tế</li>
								<li>Khuôn viên đi dạo</li>
								<li>Khu thể thao ngoài trời</li>
								<li>Gym & Spa</li>
								<li>Siêu thị</li>
								<li>Trường học</li>
							</ul>
						</div>
					</div>
				</div>

				<!-- Single Block Wrap -->
				<div class="property_block_wrap style-2">

					<div class="property_block_wrap_header">
						<a data-bs-toggle="collapse" href="#clNine" role="button" aria-expanded="false" aria-controls="clNine">
							<h4 class="property_block_title">Liên kết vùng dự án</h4>
						</a>
					</div>
					<div id="clNine" class="panel-collapse collapse show" aria-expanded="true">
						<div class="block-body">
							<!-- Schools -->
							<div class="nearby-wrap">
								<div class="neary_section_list">
									<div class="neary_section">
										<div class="neary_section_first">
											<h4 class="nearby_place_title">Phía Đông: Nguyễn Văn Huyên<small>(0.52 Km)</small></h4>
											<h4 class="nearby_place_title">Phía Tây: Giáp đường Hùng Vương, Khu dân cư hiện hữu<small>(0.52 Km)</small></h4>
											<h4 class="nearby_place_title">Phía Bắc: Giáp đường số 14 rộng 40m<small>(0.52 Km)</small></h4>
											<h4 class="nearby_place_title">Phía Nam: Giáp với đường QH<small>(3.52 Km)</small></h4>
											<h4 class="nearby_place_title">Cách Quốc lộ 1A<small>(3.7 Km)</small></h4>
											<h4 class="nearby_place_title">Cách bờ biển<small>(1.3 Km)</small></h4>
											<h4 class="nearby_place_title">Các trung tâm thành phố Tuy Hòa<small>(1.52 Km)</small></h4>
											<h4 class="nearby_place_title">Cách cảng hàng không Tuy Hòa<small>(5.52 Km)</small></h4>
											<h4 class="nearby_place_title">Cách trung tâm hành chính của tỉnh; Hệ thống trường học các cấp; Bệnh viện chưa đầy <small>(3.52 Km)</small></h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- property Sidebar -->
			<div class="col-lg-4 col-md-12 col-sm-12 order-lg-1 order-md-1 order-2">
				<div class="property-sidebar">
					<!-- Agent Detail -->

					<!-- Share & Like Button -->
					<div class="like_share_wrap b-0">
						<div class="like_share_list">
							<a href="#" class="btn btn-likes" data-toggle="tooltip" data-original-title="Share"><i class="fa-solid fa-share-nodes"></i>Chia sẻ</a>
						</div>
					</div>
					<!-- Similar Agents Property -->
					<div class="sidebar-widgets">
						<h4>Dự án khác</h4>
						<div class="sidebar_featured_property">
							<!-- List Sibar Property -->
							<div class="sides_list_property b-0">
								<div class="sides_list_property_thumb">
									<img src="https://placehold.jp/300x400.png" class="img-fluid" alt="" />
								</div>
								<div class="sides_list_property_detail">
									<h4><a href="project-detail.html" class="text-bold">Tiền Hải Star City – Chủ Đầu Tư Hải Phát</a></h4>
									<span><i class="fa-solid fa-location-dot"></i>Xã Tây Sơn, Thị trấn Tiền Hải, Huyện Tiền Hải, Thái Bình</span>
									<div class="lists_property_price">
										<div class="lists_property_types">
											<div class="property_types_vlix">2000 Tỷ đồng</div>
										</div>
									</div>
								</div>
							</div>
							<!-- List Sibar Property -->
							<div class="sides_list_property b-0">
								<div class="sides_list_property_thumb">
									<img src="https://placehold.jp/300x400.png" class="img-fluid" alt="" />
								</div>
								<div class="sides_list_property_detail">
									<h4><a href="project-detail.html" class="text-bold">Royal Riverside City – Chủ Đầu Tư SGO Group</a></h4>
									<span><i class="fa-solid fa-location-dot"></i>Sông Ka Long, Phường Hải Yên, Móng Cái, Quảng Ninh</span>
									<div class="lists_property_price">
										<div class="lists_property_types">
											<div class="property_types_vlix">542 Tỷ đồng</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>